.lacands_widget_title {font-size:20px;margin:20px 20px 20px 0px;}
.lacands_widget_title img {vertical-align:text-bottom;border-radius: 2px}
.lacands_widget_content {margin:-10px 20px;}
.lacands_box {margin: 20px 20px 0px 0px !important;padding:10px;}
.lacands_box_white {border:1px solid #DCDCD8;margin:20px;padding:10px;background-color:#FFFFFF;}

table.lacands_networkpub_added {border-collapse:collapse;width:785px;}
table.lacands_networkpub_added th {padding:5px 10px 5px 10px;border:1px solid #BFBFBF;background-color:#DCDCD8;font-weight:bold;font-size:14px;text-align:center;}
table.lacands_networkpub_added td {padding:4px 10px 4px 10px;border:1px solid #BFBFBF;}
table.lacands_networkpub_added td a{text-decoration:none;}

fieldset.rts_fieldset {padding:15px; border:1px solid #DCDCD8;background-color:#FFF;}
fieldset.rts_fieldset label {float:left;margin:0px;padding:0px;}
fieldset.lacands_fieldset {padding:0px 15px 15px 15px; border:1px solid #DCDCD8;background-color:#FFF;margin:20px;}
fieldset.lacands_fieldset legend {font-weight:bold;}

.msg_error {text-align:left;background-color:#ffebe8;padding:5px 10px 5px 10px;font-weight:normal;font-size:11px; border: 1px solid #dd3c10; width:825px; margin-left:10px; margin-top:10px;}

.lacands_input_headers {font-weight:bold; font-size:12px; font-style:'Verdana Helvetica Arial'; color:#333333;}
.lacands_input_header {margin: 20px 10px 10px 10px; font-size:13px}
.lacands_header_border_bottom {border-color:#FEECA1;border-style:solid; border-width:1px; padding:0px;margin-bottom:5px;}

.lacands_started {padding:20px;background-color:#FFF9D7;margin: 0px 10px 20px 10px;border-radius: 3px;border:1px solid #DCDCD8;}

.lacands_add_key_submit {width:100%;margin:0px;padding: 0px; border-collapse: collapse;white-space: nowrap;}
.lacands_add_key_submit td{vertical-align: bottom;height:22px;white-space: nowrap;padding:20px 0px 0px 0px;}
.lacands_add_key_submit_2 {width:100%;margin:0px;padding: 0px; border-collapse: collapse;white-space: nowrap;}
.lacands_add_key_submit_2 td{vertical-align: bottom;height:22px;white-space: nowrap;padding:0px 10px 20px 20px;}
.lacands_add_key_submit_social {text-align: right;width:530px;}
.lacands_add_key_submit_social div {font-weight:bold;color:#5F5F5F;font-size:13px;}

.lacandsnw_error {text-align:left;background-color:#ffebe8;padding:15px;font-weight:normal;border: 1px solid #dd3c10; margin:15px;border-radius: 3px;-moz-border-radius: 3px !important; -webkit-border-radius: 3px !important;}
.lacandsnw_error_header {font-weight: bold;font-size: 14px;padding-bottom: 3px;}

.lacandsnw_content_box {border:1px solid #BFBFBF;border-radius: 2px;margin-top: 0px;margin-bottom: 20px;}
div.lacandsnw_content_box:last-of-type {margin-bottom: 0px;}
.lacandsnw_content_box_last {border:1px solid #BFBFBF;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;margin-top: 0px;margin-bottom: -10px;}
.lacandsnw_content_box_header {padding:7px 10px;border-bottom:1px solid #BFBFBF;background-color:#F0F0F0;font-weight: bold;}
.lacandsnw_content_box_header img {vertical-align:text-bottom;}
.lacandsnw_content_box_data {text-align:left;background-color:#FFF;padding:20px;}

.lacandsnw_ajax_msg {display:none;margin: 10px 20px 0px 0px;padding: 10px;text-align: center;border-radius: 3px;-moz-border-radius: 3px !important; -webkit-border-radius: 3px !important;background-color: #FFFCDF; border: 1px solid #FFE08F;font-weight: bold;}

.lacands_warning_message {padding:15px !important;}
.lacands_warning_message_header, .lacands_warning_message_ol_item_header {font-weight: bold !important;}
.lacands_warning_message_header {padding-bottom: 5px !important }
.lacands_warning_message_ol_item_header_alert {color: #E74C3C !important;}
#lacandsnw_overlay {position:fixed;top:0;left:0;bottom:0;right:0;height: 100%;width: 100%;margin: 0;padding: 0;z-index: 101;}
.lacandsnw_post_meta_box_label_box {padding-bottom:3px;}
.lacandsnw_post_meta_box_helper {color:#8F8F8F;}

.lacandsnw_share_box {}
.lacandsnw_share_box table {width:100%;}
.lacandsnw_share_box table td {padding-right:10px;font-weight:bold;}
.lacandsnw_share_box table td a{font-weight:normal;}

.lacandsnw_share_box_left {text-align:left;}
.lacandsnw_share_box_right {text-align:right;padding-right:10px !important;}
.lacandsnw_share_box_right table {white-space:nowrap;}
.lacandsnw_share_box_right table td{text-align:right;padding-right:0px !important;}

/* Styles - Raghav */
.lacands_setting_container {background-color: white;padding: 10px;margin: 20px 20px 20px 0px;border: 1px solid #DCDCD8;}
.lacands_setting_container ._title {display: inline-block;margin: 10px;}
.lacands_setting_container .switch {float: right;}
.lacands_setting_tabs ul{border-bottom: 1px solid #DCDCD8;margin-top:0px}
.lacands_setting_tabs ul li {display: inline-block;margin: 0 20px 0 0;padding: 10px 5px;cursor: pointer;}
.lacands_setting_tabs ul li._selected {border-bottom: 5px solid #E74C3C;color: #E74C3C;}
.lacands_setting_tab_content > div {display: none;}
.lacands_setting_tab_content > div:first-of-type {display: block;}
.lacands_setting_tab_content > div[data-id=style] label {display: inline-block;padding: 7px 0px;}
.lacands_setting_save_container {margin-top: 15px; padding-top: 10px;border-top: 1px solid #dcdcd8;}

.lacands_setting_container form>div {position: relative;padding: 0px 10px 10px 10px;}

.lacands_setting_content > div {display: inline-block;vertical-align: top}
.lacands_setting_content > div:first-of-type {margin-right: 20px}
.lacands_setting_content > div:last-of-type {width: 100%;position: relative;}

._illustration {background-size: contain;display: block;height: 300px;width: 420px;border: 1px solid #DCDCD8;border-radius: 2px;}

/* Admin - Networks */
.lacands_network_selector > div {display: inline-block;width: 47%;border: 1px solid #DCDCD8;font-size: 14px;vertical-align: top;border-radius: 3px;}
.lacands_network_selector > div._seperator {width: 4%;border: none}
.lacands_network_selector ._header {background-color: #C2DEEF;padding: 10px;font-weight: bold;}
.lacands_network_selector ._search {border-bottom: 1px solid #dcdcd8;text-align: center}
.lacands_network_selector ._search input {border-radius: 0px;width: 100%;box-shadow: none;border: 0px;padding: 7px;}
.lacands_network_selector ._list {height: 197px;overflow-y: auto;position: relative}
.lacands_network_selector ._list ._item {border-bottom: 1px solid #DCDCD8;padding: 10px;}
.lacands_network_selector ._list ._item:hover {cursor: pointer;background-color: #f0f0f0;}
.lacands_network_selector ._list ._item:first-of-type {margin-top: 0px}
.lacands_network_selector ._list ._item:last-of-type {border-bottom-width: 0px}
.lacands_network_selector ._list ._item ._action {float: right}
.lacands_network_selector ._list ._item._added {opacity: 0.5}
.lacands_network_selector ._action span {display: none}
.lacands_network_selector ._all ._action ._data_all {display: inline;cursor: pointer;}
.lacands_network_selector ._selected ._action ._data_selected {display: inline;cursor: pointer;}

.lacands_network_selector ._list[data-type="original"] {display: none;}

 /* The switch - the box around the slider */
.switch {position: relative;display: inline-block;width: 80px;height: 36px;}
.switch input {display:none;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #E74C3C;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 28px;width: 28px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(42px);-ms-transform: translateX(42px);transform: translateX(42px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
._lacands_overlay {background-color: white;bottom: 0;display: block;left: 0;opacity: 0.75;position: absolute;right: 0;top: 0;}
